#rf{
    float:left;
    width:16em;
    border:1px solid #aaa;
    text-align:center;
}

#pm{
    float:left;
    width:13em;
    border:1px solid #aaa;
    text-align:center;
}

#ram{
    float:left;
    width:10em;
    border:1px solid #aaa;
    text-align:center;
}

.title{
    width:100%;
    text-align:center;
    display:inline-block;
    font-size:12pt;
    margin:auto;
    padding-bottom:5px;
}

.label{
    font-size:10pt;
    color:#333;
    display:inline-block;
    width:2em;
}

.reg{
    text-align:left;
    display:inline-block;
    padding:4px;
    /*margin:0 2px 2px 0;*/
    width:7em;
}
.pm{
    text-align:left;
    display:inline-block;
    padding:4px;
    /*margin:0 2px 2px 0;*/
    width:12em;
}

.ram{
    text-align:left;
    display:inline-block;
    padding:4px;
    /*margin:0 2px 2px 0;*/
    width:7em;
}

.controls{
    display:inline-block;
    width:90%;
    height:50px;
    border: 2px solid #ccc;
    margin:auto;
    margin-bottom:5px;
}

.programming{
    display:inline-block;
    float:left;
    width:35%;
    height:100%;
}

.circuit{
    display:inline-block;
    float:left;
    width:35%;
    height:100%;
}

.simulator{
    display:inline-block;
    float:left;
    width:55%;
    height:100%;
}

.program{
    height:85%;
    width:90%;
}

.normal{
    background-color:#c66;
}

.updated{
    background-color:#6c6;
}

.active{
    background-color:#cc6;
}

.display_button{
    display:inline-block;
    padding:2px;
}

.display_button:hover{
    display:inline-block;
    cursor:pointer;
    color:#f33;
}
.button{
    display:inline-block;
    padding:8px;
    background-color:#66a;
    border-radius:5px;
    height:25px;;
    color:white;
    margin:5px;
    cursor:pointer;
}

.button:hover{
    display:inline-block;
    cursor:pointer;
    color:#f33;
}