#search{
    height:15%;
    margin: 15px 50px;
}

#nodes{
    height:80%
    width:95%;
    margin:auto;
}


div.node{
    width:100%;
    float:left;
    /*border-top: 1px solid black; */
}

div.name{
    padding: 15px;
    width:15%;
    min-width:150px;
    float:left;
    text-align:center;
}

div.edges{
    width:35%;
    min-width:400px;
    float:left;
    padding: 15px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

div.content{
    padding: 15px;
    float:left;
}




div.edgeTitle{
    display:inline-block;
    cursor:pointer;
}
div.edgeTitle:hover{
    color:#f33;
}

div.nodeBox{
    margin: 5px 10px; 
    padding: 5px;
    border: 2px black solid;
    background-color:#fa3;
    display:inline-block;
    cursor:pointer;
}

div.edgeBox{
    align:left;
    font:Serif;
}
div.edgeEdit{
    display:inline-block;
    cursor:pointer;
}
div.edgeEdit:hover{
    color:#f33;
}
div.edgeAdd{
    cursor:pointer;
}

div.edgeAdd:hover{
    color:#f33;
}


div.addBox{
    display:inline-block;
    padding: 2px;
}


div.tagBox{
    display:inline-block;
    outline:2px solid;
    margin: 5px 10px;
    padding: 5px;
}


input.tagBoxInput{
    align: left;
    display:inline-block;
}

div.tagBoxTag{
    align: left;
    background-color:#0F7;
    display:inline-block;
}

div.tagBoxPlus{
    align: right;
    display:inline-block;
}

div.tagBoxMinus{
    align: right;
    display:inline-block;
}

ul {
     list-style-type: none;
     margin:1;
     padding:1;
}