
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>IAMB A NANA</title>
    <link rel="stylesheet" type="text/css" href="category.css">
    <!-- <link rel="stylesheet" type="text/css" -->
	       <!-- 	  href="jquery-ui-1.10.4.css"> -->
	       <!-- <script type="text/x-mathjax-config">  -->
	       <!--   MathJax.Hub.Config({  -->
	       <!--   extensions: ["tex2jax.js"],  -->
	       <!--   jax: ["input/TeX","output/HTML-CSS"],  -->
	       <!--   tex2jax: {inlineMath: [["$","$"]]}, -->
	       <!--   TeX:{ -->
	       <!--   extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"] -->
	       <!--   } -->
	       <!--   });  -->
	       <!-- </script>  -->
	       <script src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
	       <script type="text/javascript" src="category.js"></script> 
	       <script type="text/javascript" src="jquery.js"></script>
	       <script type="text/javascript" src="jquery.couch.js"></script>
	       <!-- <script type="text/javascript" src="jquery-ui-1.10.4.js"></script> -->
	       <!-- <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js"></script>  -->
  </head>
  <body ng-app="app">
    <script type="text/ng-template" id="node.html">
      <div class="name">
	<!-- <div class="activationButton" ng-click="activate($index)">[!]</div> -->
	<div class="activationButton" ng-if="active == true" ng-click="deactivate($index)">[x]</div>
	<div class="activationButton" ng-if="active == false" ng-click="activate(node)">[!]</div>
	<div class="nodeBox" ng-if="node.editing == false" ng-click="node_edit(node)">{{node.obj.name}}</div>
	<div ng-if="node.editing == true">
	  <input type="input" ng-keyup="node_key($event,node)" value="{{node.obj.name}}" ng-model="node.str" />
	</div>
      </div>
      <div class="edges">
	<div class="edge" ng-repeat="edge in edges | source:node.obj.name">
	  <div ng-if="edge.editing != true">
	    <div class="edgeTitle">{{edge.obj.dir}} {{edge.obj.name}}</div>
	    <div class="nodeBox" ng-click="set_current_by_name(edge.obj.target)">{{edge.obj.target}}</div>
	    <div class="activationButton" ng-click="toggle_edge_edit(edge)">[edit]</div>
	  </div>
	  <div ng-if="edge.editing == true">
	    <input type="input" ng-keyup="edge_key($event,edge)" value="{{edge_str(edge)}}" ng-model="edge.str" />
	  </div>
	</div>
	<div class="activationButton" ng-click="edge_add(node)">[+]</div>
      </div>
      <div style="display:inline-block">
	<div class="content">{{node.obj.content}}</div>
	<!-- <div class="timestamp">{{node.obj.timestamp | date:yyyyMMddTHHmmssZ}}</div> -->
      </div>
      <div class="activationButton">[D]</div>
    </script>

    <script type="text/ng-template" id="search_query.html">
      <div class="query_box">
	<div class="query" ng-if="query.editing == false" ng-click="query_edit(query)">{{query.str}}</div>
	<input type="input" ng-if="query.editing == true" ng-keyup="query_key($event,query)" ng-model="query.str">
	<div class="activationButton" ng-click="query_remove($index)">[x]</div>
      </div>
    </script>


    <div id="super" ng-controller="NodesController">
      <div id="addNode" class="activationButton" ng-click="node_add()">[New node]</div>
      <div class="activationButton" style="display:inline-block" ng-click="toggle_search()" >[Show Search]</div>
      <div id="activeNodes">
	<div class="node" ng-init="active = true" ng-repeat="node in active_nodes" ng-include="'node.html'"></div>
      </div>
      <div id="searchArea" ng-if="search_display == true">
	<div id="search">
	  <div style="display:inline-block" ng-repeat="query in queries" ng-include="'search_query.html'">
	    
	  </div>
	  <div class="activationButton" style="display:inline-block" ng-click="query_add()" >[+]</div>
	  <div class="activationButton" style="display:inline-block" ng-click="search()" >[search]</div>
	</div>
	<div id="nodes">
	  <div class="node" ng-init="active = false" ng-repeat="node in current_nodes" ng-include="'node.html'">
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
