<html>
  <head>
    <title>Category, the banana</title>
    <link rel="stylesheet" type="text/css" href="cat.css" />
    
    <script type="text/javascript" src="https://code.angularjs.org/1.4.0-rc.2/angular.min.js"></script>
    <script type="text/javascript" src="cat.js"></script>
  </head>
  <body ng-app="app">	
    <div id="super" ng-controller="CatCommander">
      <div class="super">
	<div class="main">
	  <div ng-repeat="n in nodes">
	    <p>{{n.name}}: {{n.text}}</p>
	  </div>
	</div>
	<div class="search">
	  <div class="search_box">
	    <form>
	      <input type="text" ng-model="query"></input>
	      <button type="submit" ng-click="search()">Search</button>
	    </form>
	  </div>
	  <div class="search_results">
	    <div ng-repeat="n in search_nodes">
	      <p>{{n}}</p>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
</xsl:template>
