div.super{

}

div.search{
    width:45%;
    float:left;
    padding:20px;
}

div.main{
    width:45%;
    float:left;
    padding:20px;
}

div.search_box{
    height:100px;
    background-color:#999;
    padding:10px;
}

div.search_results{
    height:300px;
    background-color:#ccc;
    padding:10px;
}

div.cat_button{
    display:inline-block;
    float:right;
    border-radius:2px;
    background-color:#ccf;
    text-align:center;
    cursor:pointer;
    border:1px solid black;
    margin:2px;
    padding:2px 5px;
}

div.node_name{
    display:inline-block;
    font-size:18pt;
    font-family:sans serif;
}

div.node_container{
    padding-bottom:10px;
    border-bottom:1px solid #ccf;
    margin-bottom:10px;
    width:100%;
}

div.edge_input{
    padding:10px 0;
}

div.edge_input input{
    padding:5px;
    width:100px;
}