<!DOCTYPE html>
<html>
  <head>
    <title>Category, the banana</title>
    <link rel="stylesheet" type="text/css" href="cat.css" />
    <link rel="stylesheet" href="/lib/katex/katex-modified.min.css">
    <link rel="stylesheet" href="/lib/codemirror/codemirror.css">
    <link rel="stylesheet" href="/lib/codemirror/addon/fold/foldgutter.css">
    <link rel="stylesheet" href="/lib/kit/kit.css">
    <link rel="stylesheet" href="https://npmcdn.com/angular-toastr/dist/angular-toastr.css" />
    <script type="text/javascript" src="/lib/angular/angular.min.js"></script>
    <script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
    <script type="text/javascript" src="cat.js"></script>
    <script type="text/javascript" src="edges.js"></script>
    <script type="text/javascript" src="/lib/marked/marked.min.js"></script>
    <script type="text/javascript" src="/lib/katex/katex-modified.min.js"></script>
    <script type="text/javascript" src="/lib/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="/lib/codemirror/modes/xml.js"></script>
    <script type="text/javascript" src="/lib/codemirror/addon/fold/foldcode.js"></script>
    <script type="text/javascript" src="/lib/codemirror/addon/fold/foldgutter.js"></script>
    <script type="text/javascript" src="/lib/codemirror/addon/fold/xml-fold.js"></script>
    <script type="text/javascript" src="/lib/codemirror/addon/search/searchcursor.js"></script>
    <script type="text/javascript" src="/lib/guppy/guppy.js"></script>
    <script type="text/javascript" src="/lib/kit/plugins/argument/plugin.js"></script>
    <script type="text/javascript" src="/lib/kit/plugins/checklist/plugin.js"></script>
    <script type="text/javascript" src="/lib/kit/plugins/category/plugin.js"></script>
    <script type="text/javascript" src="/lib/kit/plugins/draw/plugin.js"></script>
    <script type="text/javascript" src="/lib/kit/plugins/code/plugin.js"></script>
    <script type="text/javascript" src="/lib/kit/plugins/guppy/plugin.js"></script>
    <script type="text/javascript" src="/lib/kit/plugins/av/plugin.js"></script>
    <script type="text/javascript" src="/lib/kit/kit.js"></script>
    <script type="text/javascript" src="/lib/kit/ngkit.js"></script>
    <script type="text/javascript">
      Guppy.guppy_init("/lib/guppy/transform.xsl","/lib/guppy/symbols.json");
    </script>

  </head>
  <body ng-app="app">
    <div id="super" ng-controller="CatCommander">
      <div class="super">
	<div class="main">
	  <div class="cat_button" ng-click="add_node()">Add Node</div><br><br>
	  <div ng-repeat="node in active_nodes" class="node_container">
	    <div class="cat_button" ng-if="!(node.editing)" ng-click="delete_node(node)">delete</div>
	    <div class="cat_button" ng-if="!(node.editing)" ng-click="deactivate_node(node)">done</div>
	    <div class="cat_button" ng-if="!(node.editing)" ng-click="edit_node(node)">edit</div>
	    <div class="cat_button" ng-if="node.editing" ng-click="save_node(node)">save</div>
	    <div class="cat_button" ng-if="node.editing" ng-click="cancel_node(node)">cancel</div>
	    <br />
	    <div class="node_name" ng-if="!(node.editing)">{{node.name}}</div>
	    <input class="node_input" ng-if="node.editing" ng-model="node.name"></input>
	    <div ng-controller="KitController">
	      <kit data="{{node.data}}" editing="node.editing" nodeid="node.name" finish="save_node" change="change" />
	    </div>
	    <div ng-controller="EdgeDisplayController">
	      <edges data="node.edges" node="node" editing="node.editing" />
	    </div>
	  </div>
	</div>
	<div class="search">
	  <div class="search_box">
	    <form>
	      <input type="text" ng-model="query"></input>
	      <button type="submit" ng-click="search()">Search</button>
	    </form>
	  </div>
	  <div class="search_results">
	    <div ng-repeat="n in search_nodes">
	      <a href="#" ng-click="get_node(n)">{{n}}</a><br />
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </body>
</html>
</xsl:template>
